<form [formGroup]="form" #f="ngForm" (ngSubmit)="login(f)">
    <!--ovako koristis ugnjezdjene grupe unutar forme-->
    <div formGroupName="account">
        <div class="form-group">
            <label for="username">Username</label>
            <span *ngIf="username.pending">Checking if name is unique..</span>                
            <input 
                formControlName="username"
                id="username" 
                type="text" 
                class="form-control">
                <div *ngIf="username.touched && username.invalid" class="alert alert-danger">
                    <div *ngIf="username.errors.required">Username is required.</div>
                    <div *ngIf="username.errors.minlength">Username should be minimum {{username.errors.minlength.requiredLength}} charachters.</div>
                    <div *ngIf="username.errors.cannotContainSpace">Username should not contain white spaces</div>
                    <div *ngIf="username.errors.isUsernameNotUnique">Username is not unique</div>
                </div>
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input 
                formControlName="password"
                id="password" 
                type="password" 
                class="form-control">
        </div>
    </div>

    <button class="btn btn-primary" type="submit">Sign Up</button>
    <p>{{ f.value | json }}</p>    
    <div class="alert alert-danger" *ngIf="form.errors">Bad login attempt</div>
</form>