.app-zippy {
    border: 1px solid #ccc;
    border-radius: 2px;
    width: 180px;
}

.app-zippy-heading {
    font-weight: bold;
    padding: 10px;
    cursor: pointer;
}

.app-zippy-body {
    padding: 10px;
}

.expanded {
    background-color: #f0f0f0;
}

.glyphicon {
    float: right;
}