<h3>Angular - {{ title }}</h3>
<app-favorite [isFavorite]="post.isFavorite" (change12)="onFavoriteChanged($event)"></app-favorite>
<br/>
<app-like [isActive]="tweet.isLiked" [likesCount]="tweet.likesCount"></app-like>
<div *ngIf="courses.length > 0; then coursesList else noCourses"></div>
<ng-template #coursesList>
    <div>
            ngIf - List of courses -ngIf(mosh preferira ovaj nacin preko ng-template-a)
            <app-course></app-course>  
    </div>
</ng-template>
<ng-template #noCourses>
        ngIf - No courses yet - ngIf(mosh preferira ovaj nacin preko ng-template-a)
</ng-template>
<br/>
<p>switch case</p>
<ul class="nav nav-pills">
    <li [class.active]="viewMode == 'map'"><a (click)="viewMode = 'map'">My View</a></li>
    <li [class.active]="viewMode == 'list'"><a (click)="viewMode = 'list'">List view</a></li>
</ul>
<div [ngSwitch]="viewMode">
    <div *ngSwitchCase="'map'">Map View Content</div>
    <div *ngSwitchCase="'list'">List View Content</div>
    <div *ngSwitchDefault>Otherwise</div>
</div>
<br/>
<p>ngFor</p>
<button (click)="loadCourses()" 
class="btn"
[ngStyle]="{
    'backgroundColor': isButtonBlue ? 'blue': 'gray',
    'color': isButtonBlue ? 'white': 'black',
    'fontWeight': isButtonBlue ? 'bold': 'normal'
}"
>
Load courses from "server".. i ngStyle
</button>
<p>u *ngFor dodas trackBy, i delegiras funkciju, koja refresha elemente u DOM-u na osnovi id-a a ne objekta u memoriji.</p>
<p>ako ne radis sa trackBy, tad se na svaki klik buttona kreira ispocetka dio DOM-a, ovo koristi samo kad imas hrpu podataka za osvjeziti</p>
<br/>
<button class="btn" (click)="onAdd()">add random(100-200) - angular ima change detection</button>
<ul>
    <li *ngFor="let c of coursesFor; index as i;even as isEven; trackBy: trackCourse">
        <button class="btn" (click)="onRemove(c)">Remove</button>
        <button class="btn" (click)="onChange(c)">Change</button>
        name:{{ c.name }} - id:{{ c.id }} - index:{{ i }}<span *ngIf="isEven">(Parni index)</span>
    </li>
</ul>
<br/>
<span>{{ task.assignee?.name }} - safe traversal operator "?" ako je null angular zanemari da trena ispisati task.assignee?.name</span>
<!--
    ngStyle attribute direkttiva je zamijenila:
    [style.backgroundColor]="isButtonBlue ? 'blue': 'gray'"
    [style.color]="isButtonBlue ? 'white': 'black'"
    [style.fontWeight]="isButtonBlue ? 'bold': 'normal'"
-->
<br/>
<br/>
<p>custom directive</p>
<!--
<input type="text" appInputFormat [format]="'phoneNumber'">
mozes pisati čišće ako imas samo jedan property: ali onda u direktivi kao input alias pises naziv direktive
-->
<input type="text" [appInputFormat]="'uppercase'">
<br/>
<app-zippy title="Shipping details">
    Shipping details content
</app-zippy>
<hr>
<p>template-driven forms</p>
<app-contact-form></app-contact-form>
<hr>
<p>Vjezba izrada forme</p>
<app-new-course-form></app-new-course-form>
<hr>
<p>Reactive forms - pretvaranje gotove bootstrap forme u reactiv formu, ne koristis html5 validacijske atribute nego sam pises pravila</p>
<app-signup-form></app-signup-form>
<hr>
<p>form array, ovo!!! - form builder - video 103 recap!!</p>
<app-new-course-form-array></app-new-course-form-array>
<hr>
<p>change password - vjezba reactive forms - ovako radi!!</p>
<app-change-password></app-change-password>
<hr>
<p>http get - servisi</p>
<app-posts></app-posts>